@using Resources;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
   
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

@helper selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}

<h2>@Resource.Language</h2>

@using (Html.BeginForm("SetCulture", "Demo"))
{
    <fieldset>
        <legend>@Resource.ChooseYourLanguage</legend>

        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input name="culture" id="fr-fr" value="fr-fr" type="radio" @selected("fr-fr", culture) /> Français
                </label>
            </div>
        </div>

       


    </fieldset>
}
<div>
    @Resource.Greeting
</div>
<div>
    @Resource.WelcomeMessage
</div>
@section Scripts {
  

    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>
}

